
.corpoConteudo {
    margin: 0;
}

.tituloTopico {
    height: clamp(44px, 8vw, 80px);
    width: 70%;
    letter-spacing: 2px;
    max-width: 500px;
    border-radius: 0px 50px 50px 0px;
    background-color:#457B9D;
    color: white;
    text-align: center;
    align-content: center;
    font-size: clamp(12px, 4vw, 24px);
    font-weight: 600;
    margin-top: 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.20);
}

.textoTopico {
    margin: 30px 5%;
    padding: 12px;
    max-width: 800px;
    background-color: #2EC4B6;
    color: white;
    font-weight: 400;
    border-radius: 20px;
    text-align: justify;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.20);
    align-self: center;
    font-size: clamp(8px, 4vw, 16px);
    text-indent: 0;
}