
.mainSobre {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-items: center;
    margin: 5% 0px;
}

.corpoSobre{
    width: 80%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto 40px;
    border-radius: 24px;
}

.tituloSobre {
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-terciaria);
    height: 100px;
    border-radius: 24px 24px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    font-weight: 700;
    color: white;
}

.inferiorBoxSobre {
    background-color: var(--cor-quartenaria);
    border-radius: 0px 0px 24px 24px;
    border: 1px solid var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 15px;
    height: 40%;
}

.autoresSobre {
    text-align: center;
    align-self: center;
    font-weight: 600;
}

.fechaJanelaVerde {
    object-fit: scale-down;
    width: 50px;
    margin: 10%;
    align-self: center;
}

.linkFecha {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.divFechaPagina {
    display: flex;
    justify-content: center;
    margin: 30px;
}