
.corpoRelatoUser {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    max-width: 800px;
}

.perfilUser {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 8px;
}

.espacoSuperiorRelato {
    display: flex;
}

.espacoTextoUser {
    width: 100%;
    height: 50px;
    margin-top: 12px;
}

.username {
    font-size: 14pt;
}

.username, .userLocal {
    margin: 2px;
}

.corpoTextoRelato {
    border: 2px solid var(--cor-primaria);
    background-color: var(--cor-quartenaria);
    border-radius: 12px;
    padding: 8px 8px 0px 8px;
}

.textoRelato {
    text-align: justify;
    margin: 8px 8px;
}

.dataPostagem{
    text-align: end;
    margin: 10px 8px 4px 8px;
    color: rgba(128, 128, 128, 0.681);
}
