@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: "Inter";
}

Link {
    text-decoration: none;
}

.titulo-texto-topico {
    font-size: clamp(12px, 4vw, 24px);
    font-weight: 600;
}

.botao-confirmar {
    width: 186px;
    height: 49px;
    align-self: center;
    margin-top: 80px;
    border-radius: 12px;
    background-color: var(--cor-primaria);
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    color: white;
    font-size: 16pt;
    font-weight: 500;
    transition: 0.8s;
}

.botao-confirmar:hover {
    background-color: var(--cor-terciaria);
    scale: 102%;
    cursor: pointer;
}

body {
    margin: 0;
}

:root {
    --cor-primaria:  #2EC4B6;
    --cor-secundaria: #A8DADC;
    --cor-terciaria: #457B9D;
    --cor-quartenaria: #EDF6F9;
}
