@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: "Inter";
}

Link {
    text-decoration: none;
}

.tituloTextoTopico {
    font-size: clamp(12px, 4vw, 24px);
    font-weight: 600;
}

body {
    margin: 0;
}

:root {
    --cor-primaria:  #2EC4B6;
    --cor-secundaria: #A8DADC;
    --cor-terciaria: #457B9D;
    --cor-quartenaria: #EDF6F9;
}
