

.formulario {
    display: flex;
    width: 90%;
    max-width: 800px;
    max-height: 500px;
    flex-direction: column;
    margin: auto;
    padding: 4px;
    gap: 5px;
    margin-top: 15%;
}

input, .campoSexo {
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.campoSexo {
    text-align: center;
    width: 95%;
    margin: auto;
}

.campoCidade {
    width: 95%;
    margin: auto;
}

.campoCidadeSexo {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 210px;
    align-content: center;
    justify-content: center;
}

input {
    margin-bottom: 40px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
