
.botoesOpcao {
    display: flex;
    justify-self: center;
    justify-content: center;
}

.espacoOpcao {
    width: 100%;
    height: 50%;
    max-height: 160px;
    max-width: 600px;
    display: flex;
    background-color:#2EC4B6;
    border-radius: 24px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    border: 2px solid #457B9D;
    transition: 0.3s;
}

.espacoOpcao:hover {
    scale: 102%;
}

.imagemOpcao {
    object-fit: scale-down;
    width: 30%;
    height: 30%;
    max-width: 160px;
    max-height: 160px;
    border-radius: 24px;
    background-color: #EDF6F9;
    object-fit: cover;
}

.textoOpcao {
    height: 30px;
    margin: auto ;
    color: white;
    font-size: clamp(16px, 4vw, 24px);
}

.linkOpcao {
    text-decoration: none;
    width: 100%;
    height: 40%;
    margin: 2%;
}

.descricao {
    display: none;
}

@media (min-width: 730px) {


    .botoesOpcao {
        min-height: 500px;
        width: 100%;
        display: inline-flex;
        justify-content: space-evenly;
    }

    .espacoOpcao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 500px;
    }

    .imagemOpcao {
        min-width: 100%;
        min-height: 250px;
        align-self: center;
        object-fit: scale-down;
    }
    
    .descricao {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
    }

    .textoOpcao {
        font-size: clamp(12px, 4vw, 24px);
        margin-top: 44px;
    }
}