:root{
    --cor-primaria:  #2EC4B6;
    --cor-secundaria: #A8DADC;
    --cor-terciaria: #457B9D;
    --cor-quartenaria: #EDF6F9;
}

body {
    background-color: white;
}

.botoes-opcao {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 8% 3%;
}

.espaco-opcao {
    width: 100%;
    height: 20%;
    max-width: 600px;
    max-height: 130px;
    display: flex;
    background-color:#2EC4B6;
    border-radius: 24px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    border: 2px solid #457B9D;
    transition: 0.8s;
}

.espaco-opcao:hover {
    scale: 102%;
}

.imagem-opcao {
    max-width: 30%;
    max-height: 30%;
    max-width: 130px;
    max-height: 130px;
    border-radius: 24px;
    background-color: #EDF6F9;
    object-fit: cover;
}

.texto-opcao {
    height: 30px;
    margin: auto ;
    color: white;
    font-size: clamp(20px, 4vw, 30px);
}

.link-opcao {
    text-decoration: none;
}

