
.tituloRelatar {
    text-align: center;
    letter-spacing: 4px;
}

.corpoRelatos{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    text-align: center;
    background-color: var(--cor-quartenaria);
    border-radius: 36px;
    margin-top: 12px;
    padding: 24px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    padding-bottom: 12px;
}

.imagemRelatos {
    width: 100%;
    max-width: 400px;
    max-height: 130px;
    object-fit: cover;
    align-self: center;
}

.textoRelatoMotivador {
    text-align: center;
}

.campoComentario {
    resize: none;
    height: 130px;
    width: 90%;
    margin: 12px auto 40px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.campo {
    width: 90%;
    align-self: center;
    margin: 12px 0px;
    padding: 6px;
    border-radius: 8px;
    border: none;
}

.formRelatos {
    display: flex;
    flex-direction: column;
}

.campoComentario::-webkit-input-placeholder{
    color: var(--cor-primaria);
    font-weight: 500;
}

.campo::-webkit-input-placeholder{
    color: var(--cor-primaria);
    font-weight: 500;
}

.formRelatos > .botaoConfirmar {
    margin: auto;
}

.botaoConfirmar {
    width: 186px;
    height: 49px;
    align-self: center;
    border-radius: 12px;
    background-color: var(--cor-primaria);
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    color: white;
    font-size: 16pt;
    font-weight: 500;
    transition: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoConfirmar:hover {
    background-color: var(--cor-terciaria);
    scale: 102%;
    cursor: pointer;
}

.mensagemSucesso {
    color: rgb(0, 255, 0);
    font-weight: bold;
}

.mensagemErro {
    font-weight: bold;
    color: red;
}

.mensagemErro-treme {
    animation: treme 0.3s;
    animation-iteration-count: 7;
}

@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }