
.tituloRelatar {
    text-align: center;
    letter-spacing: 4px;
}

.corpoRelatos{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    background-color: var(--cor-quartenaria);
    border-radius: 36px;
    margin-top: 12px;
    padding: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    padding-bottom: 12px;
}

.imagemRelatos {
    width: 100%;
    max-width: 400px;
    max-height: 130px;
    object-fit: cover;
    align-self: center;
}

.textoRelatoMotivador {
    text-align: center;
}

.campoComentario {
    resize: none;
    width: 90%;
    height: 130px;
    max-width: 400px;
    margin: 12px auto;
    padding: 8px;
    border-radius: 16px;
    border-color: var(--cor-terciaria);
}

.formRelatos {
    display: flex;
    flex-direction: column;
}

.campoComentario::-webkit-input-placeholder{
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 16pt;
}

.formRelatos > .botaoConfirmar {
    margin: auto;
}