
.navegacaoBarra {
    height: clamp(80px, 6vw, 100px);
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoNavegacao, .hamburguerBotao {
    height: 80%;
    margin: 2%;
}

.logoNavegacao {
    object-fit: scale-down;
    object-position: center;
    margin-left: 12px;
}

.hamburguerBotao{
    display: none;
}

.opcaoNavegacao {
    color: white;
    text-decoration: none;
    display: block;
    height: 40px;
    align-content: center;
    transition: 0.5s;
}

.botaoFechar {
    display: none;
}

#menu {
    height: 100%;
    width: 100%;
}

.opcoesMenu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    height: 100%;
    background-color: var(--cor-secundaria);
    border-radius: 0px 0px 0px 24px;
}

.opcoesMenu li {
    cursor: pointer;
    text-align: center;
    width: 15%;
    height: 50%;
    margin: auto;
    align-content: center;
    background-color: var(--cor-primaria);
    border-radius: 40px;
    transition: 0.5s;
}

.li:hover {
    background-color: var(--cor-quartenaria);
}

.opcaoNavegacao:hover{
    color: var(--cor-terciaria);
    font-weight: 700;
}

@media (max-width: 730px){
    .hamburguerBotao {
        display: block;
        margin-right: 16px;
        width: 60px;
        object-fit: scale-down;
        object-position: center;
        cursor: pointer;
        margin: auto;
        margin-right: 2%;
    }

    .opcoesMenu {
        display: none;
        padding: 0;
    }

    .botaoFechar {
        display: block;
    }
    
    .botaoFechar > img {
        width: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 100;
    }

    .navMenu {
        display: flex;
    }

    .navMenuActive .opcoesMenu {
        display: flex;
        background-color: var(--cor-primaria);
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 0px;
        right: 0px;
        left: 0; 
        height: 100vh;
        justify-content: center; 
        align-items: center;
    }

    .opcaoNavegacao {
        color: white;
        text-decoration: underline;
        font-weight: 500;
        font-size: 24pt;
        text-align: center;
        margin: 12px;
    }

    .opcaoNavegacao:hover {
        color: #457B9D;
        cursor: pointer;
        transition: 0.8s;
    }

    .navegacaoBarra {
        display: flex;
        justify-content: space-between;
    }

    .opcoesMenu li {
        text-align: start;
        width: auto;
    }

    .li:hover{
        background-color: var(--cor-primaria);
    }

}