
.navegacaoBarra {
    height: clamp(80px, 6vw, 100px);
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoNavegacao, .hamburguerBotao {
    height: 80%;
    margin: 2%;
}

.logoNavegacao {
    object-fit: scale-down;
    object-position: center;
    margin-left: 12px;
}

.hamburguerBotao{
    display: none;
}

.opcaoNavegacao {
    color: black;
    text-decoration: none; 
}

.botaoFechar {
    display: none;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 12px;
    background-color: var(--cor-primaria);
    height: 100%;
    width: 100%;
    padding: 16px;
    border-radius: 0px 0px 0px 24px;
}

.menu li {
    padding: 16px 26px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    width: auto;
}

.li:hover {
    background-color: white;
}

@media (max-width: 730px){
    .hamburguerBotao {
        display: block;
        margin-right: 16px;
        width: 60px;
        object-fit: scale-down;
        object-position: center;
        cursor: pointer;
        margin: auto;
        margin-right: 2%;
    }

    .menu {
        display: none;
        padding: 0;
    }

    .botaoFechar {
        display: block;
    }
    
    .botaoFechar > img {
        width: 40px;
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 100;
    }

    .navMenu {
        display: flex;
    }

    .navMenuActive .menu {
        display: flex;
        background-color: var(--cor-primaria);
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 0px;
        right: 0px;
        left: 0; 
        height: 100vh;
        justify-content: center; 
        align-items: center;
    }

    .opcaoNavegacao {
        color: white;
        text-decoration: underline;
        font-weight: 500;
        font-size: 24pt;
        margin: 15px;
        text-align: center;
    }

    .opcaoNavegacao:hover {
        color: #457B9D;
        cursor: pointer;
        transition: 0.8s;
    }

    .navegacaoBarra {
        display: flex;
        justify-content: space-between;
    }

    .menu li {
        text-align: start;
        width: auto;
    }
}